body {
    font-family: 'Verdana';
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('images/background.png');
    background-size: auto;
    background-position: -20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

header {
    font-family: 'Verdana';
    background-image: url('images/header.png');
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: top; 
    color: white;
    padding: 2em 0;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

header a {
    font-family: 'Verdana';
    color: white;
    transition: color 0.3s, font-size 0.3s;
    font-size: 50px;
    
}

header a:hover {
    color: rgb(255, 255, 255); 
    font-size: 60px; 
}

.logo {
    position: absolute;
    left: 20px;
    top: 0px;
    width: 100px;
    height: auto;
    transition: transform 0.3s;
}


.logo:hover {
    transform: scale(1.2);
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 97, 97), 0 0 5px rgb(189, 52, 52);
}

nav ul { /* nav bar */
    font-family: 'Verdana';
    list-style-type: none;
    padding: 0;
}

nav ul li { /* nav bar items */
    font-family: 'Verdana';
    display: inline;
    margin: 0 1em;
}

nav ul a { /* nav bar individual items */
    font-family: 'Verdana';
    display: inline;
    margin: 0 1em;
    font-family: 'Verdana';
    list-style-type: none;
    padding: 0;
    margin: 0 1em;
    font-family: 'Verdana';
    color: white;
    text-decoration: none;
    font-size: 16px; 
    transition: color 0.3s, font-size 0.3s; 
    
}

nav ul a:hover { /* nav bar individual items transition */
    color: rgb(185, 50, 50); 
    font-size: 22px; 
}

.grid-container { /* group of manga boxes */
    font-family: 'Verdana';
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 30px;
    padding: 30px;
}

.grid-item { /* individual manga boxes */
    font-family: 'Verdana';
    background-image: url('images/header.png');
    background-size: cover;       
    background-repeat: no-repeat;
    background-position: center;  
    background-color: #f0f0f0;
    border: 5px solid #ccc;
    border-radius: 5px;
    position: relative;
    transition: scale 0.3s;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

.grid-item:hover { /* individual manga boxes transition */
    scale: 1.1;
}

.grid-item img { /* individual manga boxes image */
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
}

.grid-item h2 { /* individual manga boxes text */
    font-family: 'Verdana';
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.page-item img { /* manga page */
    width: 800px;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

.page-item h2 {
    height: min-content;
}

h3 {
    width: 1000px;
    font-size: 20px;
    display: inline-block; 
}